html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Quicksand-Regular", sans-serif;
  
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
   
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px; // change 15px
}

// @media (max-width: 720px) {
//   .container-fluid {
//     padding: 0 15px;
//   }
// }



