@import "_vars";
@import "_global";
@import "_fonts";

// start header
.header_top {
  background-color: #eef1f3;
}
.header__top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .header__logo {
    padding-left: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      font-size: 30px;
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
    }
    & span {
      color: #0674ec;
    }
  }
}

.header__top-notification {
  margin-right: 20px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  & span {
    display: block;
    margin-right: 30px;

    color: #7e8fa1;
    font-size: 20px;
  }
}
.header__top-notification-alarm,
.header__top-notification-envelope,
.header__top-notification-cart {
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  display: flex;
}
.alarm {
  width: 26px;
  height: 22px;
  background-color: #ff6a6c;
  color: #fff;
  padding: 5px;
  position: absolute;
  left: 10px;
  top: -14px;
}

.envelope {
  padding: 6px;
  color: #fff;
  background-color: #62d03b;
  position: absolute;
  left: 65px;
  top: -14px;
}

.cart {
  padding: 6px;
  background-color: blue;
  color: #fff;
  position: absolute;
  left: 115px;
  top: -14px;
}

.header__top-box,
.header__top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Quicksand-Regular", sans-serif;
}
.header__top-box {
  padding-right: 15px;
}
.header__top-btn1 {
  font-family: "Quicksand-Regular", sans-serif;
  font-size: 14px;
  line-height: 28px;
  padding: 0 18px;
  align-items: center;
  background-color: $blue;
  color: #fff;
  border-radius: 12px;
}
.header__top-user-logo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}

.header__top-username,
.header__top-user-wallet {
  font-size: 18px;
  padding-left: 20px;
  display: block;
  color: $text;
}
.header__top-user-wallet {
  padding-top: 7px;
  color: $blue;
}

.header__bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .menu {
    display: flex;
    align-items: center;
    height: 80px;
  }

  .menu__list {
    li {
      display: inline-block;

      text-transform: uppercase;
    }

    li + li {
      margin-left: 30px;
    }
    a {
      color: $text;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
    }
  }
}

.header__bottom-form {
  position: relative;
  input {
    display: block;
    width: 100%;
    border-radius: 20px;
    width: 360px;
    height: 45px;
    border: 1px solid #d9dfe5;
    font-size: 15px;
    font-weight: 400;

    &::placeholder {
      color: #898f96;
      font-weight: 400;
      padding-left: 25px;
    }
  }
  .header__bottom-btn {
    position: absolute;
    border-radius: 20px;
    border: none;
    background-color: $blue;
    width: 70px;
    height: 45px;
    right: 0;
    top: 0;
  }
}

// end header

// start search
.search {
  min-height: 725px;
  z-index: 7;
}

.search__inner {
  height: 725px;
  text-align: center;
  padding-top: 185px;
  color: #fff;
  z-index: 6;

  .search__inner-title {
    font-size: 60px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  span {
    padding: 23px 0 35px 0;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .search__inner-text {
    padding-bottom: 70px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
}

.search__inner-btn a {
  margin-right: 30px;
}

.search__inner-btn1 {
  font-size: 16px;
  padding: 20px 30px;
  border: 1px solid #fff;
  text-align: center;
  width: 190px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  color: #fff;
  margin-bottom: 125px;
}
.search__inner-btn1:hover {
  background-color: #fff;
  color: $blue;
}

.search__inner-form {
  height: 135px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 3px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 8;

  input {
    border-radius: 3px;
    width: 615px;
    height: 55px;
    border: 1px solid #d9dfe5;
    font-size: 15px;
    font-weight: 400;

    &::placeholder {
      color: #898f96;
      font-weight: 400;
      padding-left: 25px;
    }
  }
}

.search__inner-select {
  font-size: 16px;
  padding-left: 20px;
  height: 55px;
  border-radius: 3px;
  margin-right: 30px;
}

.search__inner-btn-search {
  font-size: 16px;
  border-radius: 3px;
  border: none;
  height: 55px;
  color: #fff;
  padding-left: 65px;
  padding-right: 65px;
  background-color: $blue;
}

// end search

// start products
// end products
